{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}

{% block body %}
<style>
   
</style>

<div class="example-wrapper">
    <h1>Saverdun</h1>
    <h2>L'audacieux</h2>

    
</div>

<div>
    <li>
        <ul><a href="#">Accès rapide</a></ul>
        <ul><a href="#">Accès rapide</a></ul>
        <ul><a href="#">Accès rapide</a></ul>
        <ul><a href="#">Accès rapide</a></ul>
        <ul><a href="#">Nouveaux arrivants ?</a></ul>
    </li>
    
</div>

<section>
    <div>
        <h4>INFO TRAFFIC</4>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
         deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
         provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
    </div>
    <div>
        <h4>A LA UNE</4>
         <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
         deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
         provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
    </div>
    <div class="weather">
        <h4>METEO</4>
        <p>temperature actuelle : {{datas.current.temperature_2m}} °C</p>
        <p>Ressenti: {{datas.current.apparent_temperature}} °C</p>
        <p>Precipitation : {{datas.current.precipitation}} mm</p>
        <p>Vent : {{datas.current.wind_speed_10m}} km/h</p>

        <div>Temps actuel : {{weather.alt}}</div>
        <img class="weather_icon" src="{{ asset(weather.icon) }}" alt="Icone du temps actuel">

        
    </div>
</section>

<section>
    <div>
        <h4>AGENDA</4>
         <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
         deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
         provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
    </div>
</section>

<section>
    <div>
        <h4>APP Saverdun</4>
    </div>
    <div>
        <h4>L'univers ariégeois</4>
        <p>Liste des différents sites de la commune</p>
    </div>
    <div>
        <h4>Maps </4>
        <p>Carte interactive </p>
        <a href="#">Lien vers annuaire</a>
    </div>
</section>

{% endblock %}
