{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}

{% block body %}
<style>
   
</style>

<div class="wrapper">
 <header>
       
        <h1 class='title'>Saverdun, village audacieux</h1>
    </header>
    <div class='quick_access'>
        <li>
            <ul><a href="#">Accès rapide</a></ul>
            <ul><a href="#">Accès rapide</a></ul>
            <ul><a href="#">Accès rapide</a></ul>
            <ul><a href="#">Accès rapide</a></ul>
            <ul><a href="#">Nouveaux arrivants ?</a></ul>
        </li>
        
    </div>
    
</div>



<section>
    <div>
        <h4>A LA UNE</4>
         <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
         deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
         provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
        <div >
        {% for post in posts %}
            <div class='border'>
                <p>{{post.title}}</p>
                <p>{{post.date | date}}</p>
                <p>{{post.description}}</p>
            </div>
        {% endfor %}
        </div>
         
    </div>
    <div class="cardContainer">
  <div class="card">
    <p class="city">SAVERDUN</p>
    <p class="weather">{{weather.alt}}</p>
      <img class="weather_icon" src="{{ asset(weather.icon) }}" alt="Icone du temps actuel">
    <p class="temp">{{datas.current.temperature_2m}} °</p>
    <p class="minHeading">Ressenti {{datas.current.apparent_temperature}} °</p>

    <div class="minmaxContainer">
      <div class="min">
        <p class="minHeading">Précipitation</p>
        <p class="minTemp">{{datas.current.precipitation}} mm</p>
      </div>
      <div class="max">
        <p class="maxHeading">Vent</p>
        <p class="maxTemp">{{datas.current.wind_speed_10m}} km/h</p>
      </div>
    </div>
  </div>
</div>
</section>

<section>
    <div>
        <h4>AGENDA</4>
         <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
         deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
         provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
        <a href="#">Lien pour la demande de mise en ligne d'un évènement</a>
    </div>
</section>

<section>
    <div>
        <h4>APP Saverdun</4>
    </div>
    <div>
        <h4>L'univers ariégeois</4>
        <p>Liste des différents sites de la commune</p>
    </div>
    <div>
        <h4>Maps </4>
        <p>Carte interactive </p>
        <a href="#">Lien vers annuaire</a>
    </div>
</section>

{% endblock %}
