{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}

{% block body %}
<style>
   
</style>
<script>
    function hoverMap(divClass, style)
    {
        let x = document.getElementById(divClass);
        x.classList.add(style)
    }

    function leaveHover(divClass, style)
    {
        let x = document.getElementById(divClass);
        x.classList.remove(style)
    }
</script>

<div class="wrapper">
    <header>
        <h1 class='title'>Saverdun, village audacieux</h1>
    </header>    
</div>
<div class='quick_access'>
        <ul>
            <li><img class='logo m-5' src='{{ asset('media/document.svg') }}'><a href="{{ path('app_demarche')}}">Démarches et Etat civil</a></li>
            <li><img class='icon m-5' src='{{ asset('media/family.svg') }}'><a href="#">Sortir à Saverdun</a></li>
            <li><img class='icon m-5' src='{{ asset('media/home.svg') }}'><a href="#">S'installer à Saverdun</a></li>
        </ul>
        
</div>

<div class="body">
    <section class="news m-5">
        <div>
            <h4 class='m-0' >A LA UNE</h4>
            <p>Les dernières actualités de Saverdun, rédigées par nos soins. Pour que vous, saverdunois, 
            soyez toujours au courant de ce qu'il se passe chez vous! </p>
            <div class="row">
                <div class="w-80 pc-2 posts">
                    <p class="under_title">{{posts.0.title}}</p>
                    <p class="note">- {{posts.0.date |date("d/m/Y")}}</p>
                        {% if posts.0.url %}
                    <img class="post_pic" src="{{ asset(posts.0.url) }}" alt="image liée" >
                    {% endif %}
                    
                    <p>{{ posts.0.description}}</p>

                    <button class="button">En savoir plus </button>
                </div>     
                <div class='column mc-2 flex between'>
                {% for post in postsMini %}
                    <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">{{post.title}}</p>
                            <p class="note2">- {{post.date |date("d/m/Y")}}</p>
                        </div>    
                        <p>{{post.description | slice (0, 100)}}...</p>
                        <button class="p-0">En savoir plus </button>
    
                    </div>
                {% endfor %}
                </div>
            </div>
            <button>Voir toutes les actualités </button>
        </div>    
    </section>

    <section>
        <h4 class='pc5-ptb2 m-0'>EN DIRECT DE LA MAIRIE</h4>
         <div class='special_sec pc7-ptb2'>
            
            <h5 style="margin-bottom: 0">La mairie vous informe</h5>
           
             <div>
                <div class='flex row around'>
                    <div>
                         <p style="margin-right: 5%">Evènements de la vie quotidienne, fête du village, travaux sur la voirie,
                            arrêtés de la préfecture, alertes météo ou coupures réseaux... soyez informés et 
                            alertés en temps réel de l'actualité de Saverdun grâce à l'application PanneauPocket. 
                        </p>
                        <p class='under_title_white mtb-2'>Vous souhaitez être tenu au courant des actus de la mairie en temps réel? </p>
                        <p class="note_white">Rien de plus simple, c'est par ici :</p>
                        <a href='#' class='btn' >Télécharger panneaupocket</a>
                        <p class="note_white">Ou alors pour y accéder depuis un navigateur :</p>
                        <a href="#" class='btn'>Accéder au site </a>
                        <img class="qr" src='{{ asset('media/saverdun_pocket.svg')}}' alt='QrCode'>
                    </div>
                    <iframe src="https://app.panneaupocket.com/embeded/202904018?mode=widget&amp;autoNavigation=0"
                        style="height:440px; width:260px; border:none;">
                    </iframe>
                </div>
                
            </div>
      
            

        </div>
    </section>


    <section class="news m-5">
        <div>
            <h4 class='m-0'>AGENDA</h4>
            <p>Retrouvez ici tous les prochains évènements de la ville </p>
            <button>Voir toutes les évènements </button>
            <div class="row mc-2 flex between" >
            {% for event in events %}
                <div  class="posts p-2 m-2 w-45">
                    <div>
                        <div class="row" >
                            <div class='agenda flex row center'>
                                <p>{{event.dateStart |date("d M y")}} </p>
                            </div>
                            {%if event.dateEnd%}
                                <div class="agenda flew row center mc-2 ">
                            
                                    <p>{{event.dateEnd |date("d M y")}}</p>
                                </div>
                            {% endif %}
                        </div>
                        
                        <p class="under_title2">{{event.name}}</p>
                        <p>{{event.description | slice (0, 100)}} ...</p>
                        <p class="note2 p-2">Lieu : {{event.place}}</p>
                        <p class="note2 p-2">Organisé par : {{event.organizer}}</p>

                        <button>En savoir plus </button>
                    </div>
                    
                </div>
            {% endfor %}
            </div>
            <div>
                <p class='under_title2'>Vous organisez un évènement et souhaitez le partager sur notre site ? </p>
                <p class="note">C'est par ici :</p>
                <button>Demander la mise en ligne d'un évènement</button>
            </div>
            
        </div>
    </section>

    <section>
        <div class='special_sec'>
            <div class='p-2'>
                <h5 class='pc-5'>Le mot du maire</h5>
                <p class='pc-5 mbt-2 desc' >Philippe Calléja, maire de Saverdun, a souhaité vous adresser un mot : </p>
                <div class='flex row'>

                    <img class='pc-5' style="width: 30%; object-fit: contain" src="{{ asset('media/calleja.jpg') }}"
                    alt='Portrait officiel de Philippe Calléja, maire de Saverdun'>
                    <div class='column'>
                        <img class='quote' src='{{ asset('media/quote.svg')}}'>
                        <h6 class='text_intro'>Chères Saverdunoises, chers Saverdunois,</h6>
                        <p class='pc-5 text'>
                            Saverdun est une commune dynamique, où il fait bon vivre. 
                            Que ce soit par son cadre de vie, ses équipements, ses associations ou son tissu économique,
                            notre village sait allier tradition et modernité. Ensemble, nous travaillons chaque jour 
                            à améliorer la qualité de vie, à soutenir nos commerces locaux, à développer de
                            nouveaux services et à renforcer les liens qui nous unissent.<br>
                            Ce site est un espace pour vous, pour que vous puissiez y trouver toutes 
                            les informations nécessaires sur la vie municipale, les événements à venir, 
                            les démarches administratives, et plus encore. N’hésitez pas à y consulter les actualités,
                            à participer aux concertations, et à nous faire part de vos suggestions. 
                            Votre voix est essentielle pour faire de Saverdun une commune où chacun 
                            se sent écouté et acteur du développement local.<br>
                            Ensemble, construisons un avenir solidaire, responsable et prospère pour notre belle commune.
                        </p>
                        <img class='quote end' src='{{ asset('media/quote-end.svg')}}'>
                    </div>
                    
                </div>
                <h6 class='text_center p-2 text_intro'>Prochain conseil municipal : </h6>
                <div class='flex center'>
                    <p class='text_center m-0 p-2 counsil'>{{counsil.date}}</p>
                </div>
                
            </div>
        </div>
    </section>
    <section>
        <h4 class='mc-5 p-5'>L'UNIVERS ARIEGEOIS</h4>
        <div class='row mc-5'>
            <div class='flex column'>
                <h5 class='m-0 under_title'>SAVERDUN : LES PORTES DE L'ARIEGE</h5>
                <div style='width: 85%' class='ptb-5 mc-5'>
                    <span class='under_title2'>Un cadre de vie agréable</span>
                    <p>Saverdun est située dans le bassin de l'Ariège, une plaine située au pied des Pyrénées. 
                        Cette position géographique lui confère plusieurs avantages, notamment :</p>
                    <span class='under_title2'>Un environnement naturel </span>
                    <p>Saverdun est entourée de paysages naturels magnifiques, propices à la détente et aux activités de plein air.</p>
                    <span class='under_title2'>Un patrimoine culturel </span>
                    <p> Saverdun abrite de nombreux monuments historiques, dont l'église Saint-André, la chapelle Saint-Pierre et le château de Saverdun. </p>
                    <button>Découvrir les endroits phares de Saverdun</button>
                </div>
            </div>
        
            
            <img src='{{ asset('media/saverdun.jpg')}}' style='width:50%; margin: 0 '>
        </div>
        <button class='pc-5'>Voir l'annuaire de ma ville</button>

        <div style='text-align:center' class='m-5'>
             <div class='line'></div>
        </div>

        <div class='special_sec row between'>
            <div class=' w-80'>
                <h5 class='pc-5'>Informations pratiques</h5>
                <div class='pc-5'>
                        <ul class='flex between p-0'>
                            <li>
                                <div class='flex column align-center'>
                                    <img src='{{ asset('media/library.svg')}}' class='icon m-5'>
                                    <p class='text_intro'>Médiathèque</p>
                                </div>
                                <ul class='flex column m-0 ptb-5 text_center'>
                                    <li style='width: 100%' class='text ptb-2'>Voir les horaires</li>
                                    <li style='width: 100%' class='text ptb-2'>38 Rue du Lion d'Or <br> 09700 Saverdun</li>
                                    <li style='width: 100%' class='text'>05 61 60 99 43</li>
                                </ul>
                            </li>
                            <li>
                                <div class='flex column align-center' >
                                     <img src='{{ asset('media/dechet.svg')}}' class='icon m-5'>
                                    <p class='text_intro'>Déchetterie</p>
                                </div>  
                                
                                <ul class='flex column m-0 ptb-5 text_center'>
                                    <li style='width: 100%' class='text ptb-2'>Voir les horaires</li>
                                    <li style='width: 100%' class='text ptb-2'>38 Rue du Lion d'Or <br> 09700 Saverdun</li>
                                    <li style='width: 100%' class='text '>05 61 60 35 11</li>

                                </ul>
                            </li>
                            <li>
                                <div class='flex column align-center text_center'>
                                    <img src='{{ asset('media/rando.svg')}}' class='logo m-5'>
                                    <p class='text_intro'>Randonnées</p>
                                    <ul class='flex column m-0 ptb-5'>
                                        <li style='width: 100%' class='text ptb-2'>Voir les parcours</li>
                                        <li style='width: 100%' class='text ptb-2'>05 61 67 25 30</li>
                                        <li style='width: 100%' class='text'>info@pap-tourisme.fr</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                </div>
                

            </div>
            <div class="cardContainer pc-5">
                <div class="card">
                    <p class="city">SAVERDUN</p>
                    <p class="weather">{{weather.alt}}</p>
                    <img class="weather_icon" src="{{ asset(weather.icon) }}" alt="Icone du temps actuel">
                    <p class="temp">{{datas.current.temperature_2m}} °</p>
                    <p class="minHeading">Ressenti {{datas.current.apparent_temperature}} °</p>

                    <div class="minmaxContainer">
                        <div class="min">
                            <p class="minHeading">Précipitation</p>
                            <p class="minTemp">{{datas.current.precipitation}} mm</p>
                        </div>
                        <div class="max">
                            <p class="maxHeading">Vent</p>
                            <p class="maxTemp">{{datas.current.wind_speed_10m}} km/h</p>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        
      <!--  <div class=''>
            <svg style='width: 45%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 600">
                <g>
                    <polygon class='saverdun-map' points="436.09 218.52 443.91 198.96 442.74 143.78 433.35 133.61 379.74 124.61 368 106.61 319.48 94.87 310.09 70.22 301.28 77.65 289.54 67.67 282.7 85.87 295.02 99.17 289.54 120.7 278.59 137.33 258.63 105.44 238.67 115.22 232.81 130.28 206 146.72 197.98 161.98 191.72 164.72 181.74 166.28 176.65 187.02 178.02 205.02 167.46 225.56 147.89 231.44 144.17 248.26 154.15 262.54 175.87 279.76 215.59 293.26 206.2 301.67 209.33 313.81 215.59 324.56 207.76 340.41 195.24 335.33 165.31 337.28 168.83 349.22 189.96 357.24 204.04 368.59 219.7 370.94 237.7 389.72 244.54 376.22 254.13 379.15 259.22 384.24 269 372.31 305.59 383.26 301.87 365.26 330.24 342.56 347.85 337.67 354.31 324.17 380.72 324.56 373.09 240.83 414.37 220.48 436.09 218.52">
                    </polygon>
                </g>
            </svg>
        </div>
         -->  
         <div style='text-align:center' class='m-5'>
             <div class='line'></div>
         </div>
       
         <div class='mc-5'>
            <h5 class=' under_title'>DECOUVRIR LA REGION</h5>
            <p>Oublier la ville, ses murs, son stress, son rythme effréné, 
                se reconnecter à la nature, aux autres et à soi-même. 
                Telle est la promesse en Ariège. La beauté des paysages, 
                la nature, le grand air… On prend le temps de vivre, d’échanger, de partager.
            </p>
            <button class='pc-5'>Voir l'annuaire de ma région</button>

            <div class='row'>
                <div class='strateMapSvg'>
                    <svg style='background-image: url("./media/map-ariege.png")' class='map m-5' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2361.03 1917.89" >
                            <g id='territoires'>
                                <path onmouseover="hoverMap('foix', 'foixHover')" onmouseleave="leaveHover('foix','foixHover')" class="svgMapItem svgMapItem--foix"
                                    id='map-foix' stroke-width="7"
                                    d="M1471.64,868.29c12.15-10.31,18-21.51,28.65-32.75S1468.14,802,1468.14,
                                    802l-8.67-7.6c-.58,9.07-1.23,16.39-1.65,20.62-1.68,16.75-26.79,18.42-36.43,
                                    16.17s-17.16-31.24-26.4-48.29-15.87-23.14-28.69-33.7-32.35-2.84-49.79-1.18-14.37,
                                    25.13-21.07,36.85-31.82,8.37-51.7-.61-5.24-16.13-14.62-24.43-32.48-.08-41,
                                    13.07-19.92,28.72-38,42.7-20.4-19-20.4-37.43S1133.07,753,1123,753s-31.82,
                                    8.37-51.91,23.44c-16.42,12.31-19.42,22.39-21.8,35.71,11.14,5.81,26.68,
                                    14.38,31.84,19.55,8.38,8.37,11.73,11.72,18.42,25.12s7.27,14.37,15.36,
                                    25.6,7.08,46.77,6.75,60-27,10.19-37.13,26.77-49.84,36.13-67.65,46.45-32.34,
                                    15.29-37.63,33.74-12.29,39.68-5.44,45.81,32.28,17.71,37.15,16.11,22.55,13.81,
                                    22.55,13.81.35,2.36.83,6.32a26.7,26.7,0,0,1,6.93-1.74s40.6-2.24,60.33-5.26,44.84-13.06,
                                    53.21-13.06,29.17-9.88,40.54-4.1,19.75,14.14,29.8,15.82,37,4.8,41.94,10.78,28.39,4.29
                                    ,31.74-2.41,18.41-18.42,21.76-10,5,31.82,11.73,40.19,3.35,25.12,18.42,28.47,25.11,13.4,
                                    35.16,15.07,21.77,6.7,30.14,10c3.08,1.23,5.32,5.26,7,10.34l11.29-13.58s20.24-28.58,
                                    26.94-35.28,8.37-13.39,18.42-23.44,6.7-18.42,10-25.12,
                                    1.67-18.42-6.4-26.35-42.17-2.12-46.46-4.75-9.1-15.79-12.45-29.18-1.67-23.45-7.6-36.56-2.45-17-.77-32.1,10-13.4,31.45-23.55,20.46-18.31,24.66-29.17-12.58-17.61-9.92-29.42S1459.49,878.6,1471.64,868.29Z"
                                    style="fill: transparent"
                                    >  <title>Foix</title> 
                                </path>
                                
                                <path onmouseover="hoverMap('lezes', 'lezesHover')" onmouseleave="leaveHover('lezes','lezesHover')"
                                    id='map-lezes' class="svgMapItem svgMapItem--leze" stroke-width="7"
                                    style="fill: transparent"
                                    d="M1064.59,759.91c-30-14-57-32-80-55-3-38,4-79,37-105,7-6,10-18,5-26-8-13-29-7-37-18-16.68-23.35-22.91-57.13-9.44-82.79l-6.42.31-22.36-9.7V452.05l-6.83-10.67-10.69,5.77L929,428.63l-5.87-16.48,2-19.46-30.21-2.95-11.62-1.93-3-3.89-7.79,1.93-14.59-9.7h-4.84l-2.93-4-6.85-1.92-2-4.87-7.77-.94-9.73-3.88,1-3.89-3.88.91-6.83,5.88-20.41,2.95L774.2,382l2.92,7.77-4.82,7.85-11.71,12.56,1,5.89L751.85,418l-1,12.64,6.81,3.88-2.92,5.85L744,446.17,741.1,452l7.84,10.68h6.77l2.92,6.79,9.73,1,3.89,8.79,5.84,3.88,8.75-1.92,4.87-6.87,11.67,1L817,477.3l4.86,3.92L818,489.93l1,5.89,5.82.9,5.83,3,6.83-3,5.83-2.9,9.75,5.88-2.93,4.87-5.82,5.8L846.23,524l-3.93,5.84-8.75,7.77-10.71,4.9-8.77,5.84-4.77,2.91-11.72,2.86v3L785.88,561h-7.77l-9.73,9.73-6.82-1-9.74,9.73-4.86,2-1-4-3.89-1.92-3.88,6.82-4.89,3.87-11.59,3-3.88,2-2,2.91-6.78,3.88-6.83-2.9L694.45,601l-1,4.9-6.83,1h-7.79l-4.86,2-5.83-1-9.73,1,4.87,4.83,4.86,2v7.81l4.87,3.88-4.87,6.79-8.77,5.84-5.82,2-3.91,4.9-8.75-1-1,7.77,4.85,5.85,1,6.82,4.84,2,5.85,3.84,3.91,2,2,3.92,4.86-1.92,3.89-3.93,6.83-1.92,6.8,1.92,1.92,3.85h7.81l7.8,4.55,4.87,1,3.9,2.94,6.81,7.77-1,3.89,7.77,1.92,2.94,3,7.8.93,5.84-3.92,6.83,1v6.92l-1,7.73,5.84,2,5.85-2.94,3.89,2,11.67,12.67-3.92,3.87-7.78-4.86,2,5.85-3.93,5.81h-5.82l-2.93,7.87-9.73-1L736.3,750l1,4.83,3.88,2.91-11.67,10.75L709.07,780l-1.12.4a47.76,47.76,0,0,1-.77,16.3c-5,21.77-16.74,36.84,6.7,51.91s65.31,28.47,78.71,16.75-5,0,30.14,5S869.62,850.3,893.06,847s26.79,11.72,58.61,6.7,90.42-16.75,93.77-35.17,3.35-30.14,23.45-45.21c.87-.65,1.74-1.29,2.61-1.91C1070.37,766.56,1067.49,761.84,1064.59,759.91Z"
                                > <title>Lèze</title> </path>
                                <path onmouseover="hoverMap('portes', 'portesHover')" onmouseleave="leaveHover('portes','portesHover')"
                                    id='map-portes' stroke-width='7'
                                    style="fill: transparent"
                                    class="svgMapItem svgMapItem--portes"
                                        d="M1452.45,698.89c-10.17-31.1-26.63-62.68-22.59-79.54,1.29-5.37,5.56-14.62,10.78-24.75l-12.41-3.38-18.44-4.86-4.9,2.9-20.45-5.81-15.53-9.72L1349.44,565l-9.73-17.58,8.75-11.7,5.84-12.59,7.81-8.79-9.69-3.89-18.52-11.7,10.71-8.75,5.84-10.67-4.9-18.48-4.9-14.72-29.15-8.79L1293,417.94l-5.89-3.92-16.52-18.43-11.69-3.9L1241.39,383l-14.6,15.5-6.83,16.6-3.85,13.57,9.7,23.39-4.87-2-4.83-3.89h-4.81l-5.89-4.82h-11.65l-3.88,1.92-6.79-2.94-2.94,2.94h-5.85l-6.87-9.77h-8.71l-5.81-4.87,2.91-4.82-2.91-4.87-2.93-2-5.86,2-6.82,2.91L1114,415l-9.73-2-8.75-4.87-2.94-3.84-5.84-2h-5.83l-1-4.82-14.6-4-9.71-2.91-7.79-5.81-3.9-2.94-6.81-3.92,1.92-7.77-6.79-1-5.84,2-6.81.94-2.92,4-4.87,2.91h-5.84l-8.75,16.56-1,7.76,8.77,4.83,6.81,6.87,2.92,10.67,6.81,20.44,1,7.81-11.74,13.64-17.5,4.86-13.08.63c-13.47,25.66-7.24,59.44,9.44,82.79,8,11,29,5,37,18,5,8,2,20-5,26-33,26-40,67-37,105,23,23,50,41,80,55,2.9,1.93,5.78,6.65,6.88,11.47,19.34-13.87,39.69-21.53,49.3-21.53,10,0,6.7,6.69,6.7,25.11s2.29,51.42,20.4,37.43,29.49-29.56,38-42.7,31.63-21.36,41-13.07S1221.6,772,1241.48,781s45,12.33,51.7.61,3.63-35.18,21.07-36.85,36.93-9.38,49.8,1.18,19.48,16.64,28.73,33.69,16.76,46,26.4,48.29,34.75.58,36.43-16.17S1462.61,730,1452.45,698.89Z"
                                ><title>Portes de l'Ariège</title> </path>
                                <path onmouseover="hoverMap('courserans', 'courseransHover')" onmouseleave="leaveHover('courserans','courseransHover')"
                                    id='map-courserans' stroke-width='7'
                                    style="fill: transparent"
                                    class="svgMapItem svgMapItem--couserans"
                                    d="M911.91,1506.43c11.72-20.09,5-26.79,15.07-38.51s38.52-60.29,40.84-81.37,16.1-50.92,26.14-67.67,26.8-82,38.19-103.21,1.27-90.69,1.27-90.69-17.69-15.42-22.56-13.81-30.29-10-37.15-16.11.16-27.36,5.45-45.81,19.83-23.41,37.63-33.74,57.55-29.86,67.64-46.44,36.8-13.56,37.13-26.78,1.34-48.74-6.75-60-8.65-12.21-15.35-25.6-10-16.75-18.42-25.12c-5.17-5.17-20.7-13.74-31.84-19.55-.54,3-1,6.13-1.65,9.5-3.35,18.42-62,30.14-93.78,35.17s-35.16-10-58.61-6.7S860,878.46,824.83,873.43s-16.74-16.7-30.12-5-55.28-1.7-78.72-16.7-11.69-30.14-6.69-51.91a48.27,48.27,0,0,0,.77-16.3l1.11-.4L697.53,788l-6.81,3.88-1-6.83H679l-9.74-5.88-5.85-4.87-5.83-2.9,2.92-7.81,5.83-1,6.81-7.77L669.3,749l2.92-2.94-1-5.88-4.92-1.93,1-7.77-4.84-5.78-6.81,1-3.9,3.89-11.68-2-6.8-5.9,6.8-2.9,3.89-2L639.09,711l-6.79-2.86L627.42,713l-5.82-1.93-1-5.85,2.91-2-1-3.88-3.82-4.78-3.88-1H607l-10.72,2.88-2,5.84-10.71,2.94-3.88-.94-3.86-14.53-4.88-2-5.83-2-6.82-4.9-2-6.79-8.75,3.89-5.84,5.84-14.6,5-2.88,2.87-20.45,7.77-2.92,2.9-7.77,4.9h-7.79L470.78,714l-4.87,4.86-9.73,2-6.82,3.86-13.64,6.78L422.1,738.3l-4.88,2.91-7.79-1.93-2.9,4.87-7.81,2.94-3.91,5.84-15.57-2-2.94,3.89-8.76,1.93-2.83,4.9,6.83,5.88,1,3.89-2.92,1.92-3.89,3.88,3.89,5.85,3.88,2-1,6.83-5.83,5.81-5.84,1.92-8.75,3.92-6.78,4.91-3.88,5.81,2.9,2,12.67.94v5.84l-5.84,3-2,3.88,4.89,2,5.83,3.89,1,5.81-4.87,4.9h-5.9l-1.92,6.79,3.89,2.9,4.86,2.91,3.89,5.84,4.86-.94,2.93,8.79-4.9,6.62-6.79,5.8-6.83,3-6.79,3.91v9.69l1,8.79,6.83,4.87,1,4.82,6.79-2.9,2.8-3.86,3.9,4.83h4.87l1.94,6.79-3.88,4.9-9.75,2L354,936.91l-3.91,2,2.91,5.85,5.85,3.88h6.82l3.89,3,2,5.8,4.84-.94v8.65L372.47,969l-3.88,1v3.88l8.76,2,4.83,2.91,7.81,4.86,9.73-1,6.83,1,4.86,2.94-2,9.73-7.69,6.64-14.61,7.81-9.72,1-10.75,4.89-5.84,3.85-7.81,7.81,2.94,5.85,1,7.76,4.85,3.89-1,8.79-12.64,2-6.82,4.83h-14.6L315,1058.57l-2-4.83-6.8,1-4.87-2.9L290.67,1041,279,1045.81l-13.62,8.79-7.81,5.8h-9.71l-8.77,7.85-12.59,3.9-6.83,6.79-8.75,3.89-6.83,6.79-6.8,3.92-4.87-.94,2.92,8.72,4.87,3.88,2,3.92,5.83-1,2.92-4.9,4.87,7.81,8.75,7.77-4.87,7.77-4.85,4.9-6.82,1-11.72,8.76-10.71,6.86L173,1152l-11.66,5.81-6.83,8.75v11.7l3.92,3.88,4.85,1-1.94,6.83,6.8,3.88-3.88,5.84,2.92,1,1,8.75,8.77,3.92-8.77,3.93,5.85,3.85,1,5.84-2.9,3.88-2,5.89,2,7.73h5.82l4.87-2.9,3.9,2.9-3.9,8.79L177,1263l1,8.75h-6.8l-4.87,6.82-8.75,4.87-1,2.9,2.92,2-1,8.74v7.73l15.56,4.87-1.94,4.91h5.82l4.87-1,6.81-4.86h5.84l10.72.94-1,6.87,3.89,4.83,2.94,4.86L209,1333l-5.92,8.75h-6.8l3.89,5.85h-6.81l-4.86,1.92v5.88l7.78,2v4.83l-4.86,2.9-2,8.79,3.9,3,5.83,4.82,5.84-2.9,3.89,3.88h12.71l8.75-1,8.75,2.91-.94,5.84,4.83-1,2-4.86,2-6.8,2.9,6.8,6.83,1-2.94,6.82-4.87,4.91,1,6.75-4.86,2.93,1,3.9,3.88,1,3.89-3,5.85,4.91,11.69,5.84,10.71-1,8.75,2,6.83,7.77H309.3l2.94,3.89,3.89-4.87,9.73-1,5.82-2.91,6.81-2.9-.94-4.86.94-6.87,3.93-1.93,4.84,3,2.92,5.85,6.83,1,6.79-3.89,6.83-4,5.82-1.93-1,3-4.86,5.85,8.75-2,9.73,2.94,3.92,4.86,1,3.85,1.95-6.79,8.75-3.89,2.94,3.89,3.88-1h6.79l2,6.83,1,3.88,6.81-3.88,4.85,1.92-5.83,3.89,10.71-1,4.87-2.91-1,9.76,8.77-2,3.88-6.83,7.81-2,10.71-4.83,4.83-5.85,6.82-2.93h14.6l4.86,2,6.83-1,5.85,5.81,6.8-7.8,3,2.15,3.82,2.75,7.1-.55,5.54-.44,1,7.78-6.81,2.9,3.91,6.83-5.85,5.84,3.88,3.89,4.87-.94,1,6.79,1,3.88,2.91-3.88,3.9,2.9,3.88,6.82,17.52,1-4.86,5.8-7.77,3.92-7.81,4.88,17.52,2,3.9,4.87,7.81,2.9-1,4.87,5.83,4.86,14.59,2,23.07,1.7L637,1505H657.3l11.58,5.8,14.5,2.91,8.67,11.58,29,5.81,31.66,8.71,20.25-2.91,11.6,8.68,17.39-2.87L828,1557.15l8.69-8.71,11.58-2.91H857l17.36,8.71,13-2.23,9,4.5C898.3,1544.82,903.3,1521.15,911.91,1506.43Z"
                                ><title>Courserans</title> </path>
                                <path onmouseover="hoverMap('cathare', 'cathareHover')" onmouseleave="leaveHover('cathare', 'cathareHover')"  
                                    id='map-cathare' stroke-width='7'
                                    style="fill: transparent"
                                    class="svgMapItem svgMapItem--cathare"
                                    d="M1432,622.39c-4,16.86,12.42,48.44,22.58,79.54,7.6,23.24,6.58,65.45,4.88,92.29l8.68,7.6s42.81,22.33,32.16,33.59-16.51,22.44-28.65,32.75-6.84,36.94-9.5,48.74,14.12,18.57,9.92,29.42-3.25,19-24.65,29.17S1417.64,984,1416,999s-5.16,19,.77,32.1,4.25,23.16,7.6,36.56,8.16,26.56,12.45,29.19,38.39-3.2,46.46,4.74,9.75,19.66,6.4,26.35,0,15.07-10,25.12-11.72,16.74-18.42,23.44-26.93,35.28-26.93,35.28L1423,1225.4c2.88,8.73,4.08,20.58,5,26.77,1.43,9.78-4.94,8.56,19.18,16.7,0,0,47.69,25,56,22.42s42.13-4.4,55.35,2.38,21.69,4.07,37.55,7.11,32.07-1.15,40.72.1l1-5.84-1-6.79-3.86-6.87,3.86-1.93-4.87-9.76-13.62-13.54,4.86-1,2.91-2.9,3.89-6.87-3-8.71,4.87-3.89,7.8-5.88,2-5.84-2-4.84-5.84,3.89-1-6.83v-17.51l5.85-14.63,9.7-4.82,6,4.83,11.65,9.73,12.68,1,15.49-1,15.63-3.89,11.68,3,15.54-1.92,7.81-2,7.77-1,7.81,1,8.75-2.91h10.71l8.75-2,8.75-4.82,7.81-2.91,3.88-3.92v-5.85l4.91-3.88,3.84-1-5.85-2.91-2.9-2,5.81-1,3.92-4.83-2-4.91-8.74-2.93,1.91-20.4,4.87-7.78,1-3.89-3.89-9.76v-4.87l-7.76-9.73V1074l7.76-8.75,2.91-10.71-9.69-7.77-1.92-10.71-9.74,3.84-5.88-3.84-15.58-2-11.65-5.85-8.79-4.87-11.65-3.92-12.68-8.71-11.69-3.88-8.71,6.78-15.62-2.9L1698,1000l-11.73-13.67,6.82-16.55-6.82-3.89,2.9-15.58,5.85,4.87,11.69,4.83,10.67,3.92,9.73,13.62,10.71-2.91,6.83,11.69h4.87l12.67,2,11.69-5.89,14.56-5.85,4.9-2.9-5.88-12.67-2.81-14.45,5.81-5.85-9.73-22.4-2.94-15.58L1773,892.15l-11.69-3.92-6.82-5.89-2-4.87-1-5.8,3.88-4.87,2-3.92-3.86-7.73-5.84-7.77-1.93-8.79-2.9-1,.94-3.88,3.89-2.91,3.88-3.88-1-5.89,4.86-1.92,6.87,1-1-3.88-7.81-6.83,5.85-14.6,4.86-10.71-1.92-7.8-12.67,2H1732l-16.56-2-14.56,4.86-14.62,2-8.79-4.87-1-4.86-5.85-4.83,2-3.92,4.83-1,7.8-2.94,5.81-3.88,9.77-5.82,4.86-1.92,1.93-6.86V736.4l-4.86,3.89-3.89-2.91V733.5l2.94-3.89h5.81l3.89,1,3.88-18.48,1-5.85,2-11.69,3.92-12.67-8.67-15.58-4.91,2L1689.3,676l-5.81-8.71-2-12.67-14.64,2.9-4.82,2.91-14.63-1.93-8.73-6.8-5.85,1.92-5.88,1-4.83-2.9-2.93-7.78,2-6.86-2-3.88-3-5.81-6.79,2-3.88,1.92-7.81-1.92-4.82-6.86-3-3.89-3.88,4.9-6.79.94-5.85-.94-6.86,2.91-13.58-3.92-12.62-6.83-13.58,4.78-9.73,2-10.69-12.64-7.73,9.73-22.41-11.66-20.42-4-3.84-3.88-21.46-5.85,12.41,3.38C1437.56,607.73,1433.3,617,1432,622.39Z"
                                ><title>Pyrénées Cathares</title> </path>
                                <path  onmouseover="hoverMap('pyrenees', 'pyreneesHover')" onmouseleave="leaveHover('pyrenees', 'pyreneesHover')"
                                    id='map-pyrenees' stroke-width='7'
                                    style="fill: transparent"
                                    class="svgMapItem svgMapItem--pyrenees"
                                    d="M2096.1,1464.34l-4.82-10.67-11.7-4.9-7.81-1.93L2062,1442l-6.82-4.83-4.83-2-6.83,1-5.85-2.93-2-4.87v-2.94l2-2.9,3.93-7.78-7.81-4.86L2027,1406h-9.74l-9.69,1h-9.77l-1-7.76-5.85-5.84-6.78,3.92-3.89-3-7.81-3.92-5.81-2.9-2.94-5.85-6.82-5.81,2.94-8.79h-9.73l-4.87-7.77-9.77-6.82-4.86-3.89-13.62-8.74-4.86-1-2.91-7.8,3.89-3,5.84-2.9-1-6.79-6.83-9.73-7.72-2-13.66-2H1870.3l-1.92,4.87-9.73,4.91-5.85-1.93-8.71,3.89-5.88,1-4.91,3.85-7.77,2.9-2.9,3.88h-4.91l-5.85,4.91-9.69,6.83-24.36,4.82-6.83,6.83-.94,13.61-2,10.75-8.75-3.92-23.39,1-2.86-2.94v-2.91l-5.89-12.63h-5.86l-8.78-.94-3.89-2-1.92-4.87-9.77-5.81-4.87-2v-4.86l-1-3.93,1-4.86-6.79-1h-3.88l-2,3.88h-8.79l-2.9-4.83-5.81-6.78H1658l-3.84-5.88-1-4.87-3-4.83-7.73,1.93-5.88-1.93c-8.65-1.25-24.85,2.93-40.72-.1s-24.32-.32-37.55-7.11-47-4.93-55.35-2.38-56-22.42-56-22.42c-24.12-8.14-17.75-6.92-19.18-16.7s-3.6-33.76-12-37.11-20.1-8.37-30.14-10-20.1-11.72-35.17-15.07-11.72-20.09-18.42-28.47-8.37-31.81-11.72-40.18-18.42,3.35-21.77,10-26.79,8.38-31.74,2.41-31.89-9.1-41.94-10.78-18.42-10-29.79-15.82-32.17,4.1-40.54,4.1-33.49,10-53.22,13.06-60.32,5.26-60.32,5.26a26.3,26.3,0,0,0-6.93,1.74c2.17,17.6,7.21,67.09-2.1,84.37-11.39,21.16-28.14,86.47-38.19,103.21s-23.81,46.58-26.14,67.67-30.79,69.65-40.84,81.37-3.35,18.42-15.07,38.51c-8.58,14.72-13.57,38.39-15.63,50l8.57,4.29-1,7.74-1,8.75-8.74,2,9.73,4.87-1,4.82h5.06l3.9,7.84,8.77,7.78,8.75-1.93,3.89,3.85,6.82,2.9,2,6.83,4.82,4.9,11.7,3.88,3.9,3.85,1,8.79,16.56,5.84,3.88-.93,2,5.8,4.86,5.81-3.92,5.89,2,4.86h5.85l1,7.73h8.74l1-4.82,6.8.94,2.94,3.88,7.77,2,1,4.91-5.85,1.93,2,4.86,2.91,4.86,5.84,1,2,10.72,11.65,6.78,5.85,2,7.8-4.86,16.54-6.79,6.81-8.79,2.9,4.87,3.88-7.77,9.79-5.85,4.83-6.79-5.84-6.86-7.77-3.85-10.72-1,12.64-3.88,5.85,8.71,2.94-12.6,9.69-4.9,3.93-9.74,3.92,3.89,13.58,1,8.78,6.83,8.75,7.81,10.71-3.89,2-5.88h12.64l14.59-2,1.93-5.82,7.81-.93,2.94,6.75,7.73-1.93,3.93,4.87,1,5.81,3.88-4.83,2.94,6.83,4.83-2.91,10.75,2.91,6.78,6.79,8.76,1.92,3.92,8.79,8.71,12.63,21.42-1,3.89-8.71h6.86l4.87-5.89h8.38l6.83,8.79,6.83,1,8.74-1,8.79-2.9,5.81-7.85,9.77-1.92,6.79,2.94,3.88,5.85,8.79,3.88,3.88-3.88,5.81,2.9,2.91,3.89,10.75-2.91,11.65-5.84,6.79-4.91,3,3,4.83-3.92,9.77-3.88,7.77-2,2.9,2.91,9.73-.94-2.94,3.88,9.77-2.94,1-8.71,7.78,2.9,2.94,17.54,3.88,5.81,17.54,1,19.47,1.92,10.67-4.83,6.83-7.77,5.8,1,4.91,8.75,4.82,8.78-1.92,8.75,4.87,2.91,1,8.78,3.92,1.94,2.87-5.86,4.9,4.91,1.93,8.75,4.86,4.82,8.75,1,9.73,3.88,1,5.84,12.67,3,6.79,4.82,8.75-.93,4.91-6.84,7.77,1,18.48-10.75,20.44-1v-6.78l16.56-4.87,6.78-5.84,4.87,1.92,8.78-5.85,5.82,1,5.84-3.88,8.79-2.9,7.81-3.89,8.75-1,4.86-4.87,8.71-.94,7.85-2,7.73-1,5.85-7.76,7.84-4.84,2.87-2.94,2-5.84,1.92-4.87h7.85V1656l5.81-2,4.82-2.9,5.85-2.91-3.89-5.8,3.89-3.93-1-5.88-6.78-1.92,3.87-7.77,6.83-2.91,2.94-8.79,1-3.89-5.89-1,5.89-13.62,8.71-9.73,4.86,2.91,6.87-11.66-3.93-8.79-2-8.74,6.86-1.93,4.83-6.87,9.73-.93,9.73,9.73,13.65,10.7,8.71,1,14.64-5.81,8.71-10.72L1917,1546l9.77,4.87,6.79-1.93,6.83-5.84,4.86-1.92,5.81.94h7.81l3.92,2.9h5.81l5.84-2.9h8.85l2.91,2L1991,1548l2.91-4.82h2.94l4.91,3.89,5.84-2,1,3.92,2.86,1.93,3-3h3.88l3,3.92,3.88,4.88,13.58-1,14.63-9.77,5.81-7.77,9.77-5.84,5.8-12.64,5.89-8.79,2-11.65,7.77-11.69-1-17.54Z"
                                ><title>Pyrénées</title> </path>
                                
                            </g>
                        </svg>
                </div>
                
                <div class='pc-5' style='width: 40%'>
                    <h5 class='under_title2'>Découvrir les sites de la région</h5>
                    <ul class='row wrap p-0 around'>
                        <li id='portes' class='m-2 portes'
                            onmouseover="hoverMap('map-portes', 'portesHover')" onmouseleave="leaveHover('map-portes', 'portesHover')"
                        >
                            <div>
                                <a href='https://ccpap.fr/'>
                                    <!--  <p>- Les portes de l'Ariège</p> -->
                                    <img class='communes' src='{{ asset('media/Logotype_fond_blanc.jpg')}}' alt="Les portes de l'Ariège">
                                </a>
                            </div>
                        </li>
                        <li id='cathare' class='m-5 cathare'
                            onmouseover="hoverMap('map-cathare', 'cathareHover')" onmouseleave="leaveHover('map-cathare', 'cathareHover')"
                        >
                            <div>
                                <a href='https://www.pyreneescathares.com/'>
                                    <!-- <p>- Les Pyrénées cathares</p> -->
                                    <img class='communes' src='{{ asset('media/cathares.png')}}' alt='Les Pyrénées cathares' >
                                </a>
                            </div>
                        </li>
                        <li id='foix' class='m-5 foix'
                            onmouseover="hoverMap('map-foix', 'foixHover')" onmouseleave="leaveHover('map-foix', 'foixHover')"
                        >
                            <div>
                                <a href='https://www.foix-tourisme.com/'>
                                    <!-- <p>- Foix Arièges Pyrénées</p> -->
                                    <img class='communes' src='{{ asset('media/Logo_FOIX_L.jpg')}}' alt='Foix Arièges Pyrénées' >
                                </a>
                            </div>
                        </li>
                        <li id='pyrenees' class='m-5 pyrenees'
                            onmouseover="hoverMap('map-pyrenees', 'pyreneesHover')" onmouseleave="leaveHover('map-pyrenees', 'pyreneesHover')"
                        >
                            <div>
                                <a href='https://www.ariegepyrenees.com/'>
                                    <!-- <p>- Ariège Pyrénées</p> -->
                                    <img class='communes' src='{{ asset('media/images.png')}}' alt='Arièges Pyrénées' >
                                </a>
                            </div>
                        </li>
                        <li id='courserans' class='m-5 courserans'
                            onmouseover="hoverMap('map-courserans', 'courseransHover')" onmouseleave="leaveHover('map-courserans', 'courseransHover')"
                        >
                            <div>
                                <a href='https://www.tourisme-couserans-pyrenees.com'/>
                                <!--  <p>- Courserans</p> -->
                                    <img class='communes' src='{{ asset('media/courserans.png')}}' alt='Courserans'>
                                </a>
                            </div>
                        </li>
                        <li id='lezes' class='m-5 lezes' 
                            onmouseover="hoverMap('map-lezes', 'lezesHover')" onmouseleave="leaveHover('map-lezes','lezesHover')"
                        >
                            <div>
                                <a href='https://www.arize-leze.fr/'>
                                    <!-- <p>- Arize-Lèzes</p> -->
                                    <img class='communes' src='{{ asset('media/arize-lezes.png')}}' alt='Arize-Lèzes' >
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
