{% extends 'navbar.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<style>
     body{
            background-color:rgb(243, 243, 246);
        }

    .preview{
        width: 50%;
    }

</style>
<body>
    <div class="m-2">
        <h1>Post</h1>

        <table class="table">
            <tbody>
                
                <tr>
                    <th>Titre</th>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                {% if post.url %}
                <tr>
                    <th>Image de couverture</th>
                    <td><img class="preview" src="{{ asset(post.url) }}"></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Contenu</th>
                    <td>{{ post.description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_post_index') }}">back to list</a>

        <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>

</body>
{% endblock %}
